// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$body-font-family: 'Inter', sans-serif;

$grid-breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 1024px - 16px,
  'xl': 1200px - 16px
);

$border-radius-root: 8px;

$btn-text-transform:	none !default;
